{% load static %}
<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="address-block">
  
            <!-- /.module-heading -->
  
            <div class="module-body">
              <ul class="toggle-footer">
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body">
                    <p><a href="https://goo.gl/maps/hDqu9xFf5eCw6zhQ6" target="_blank">P # 370, ST # 7,
                      Qaid-e-Azam market,
                      B.block,Sirsyed town,
                      Dijkot Road, Faisalabad
                    </a></p>
                  </div>
                </li>
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body">
                    <p> <a href="https://wa.me/923016543034" target="_blank">+92 301 6543034</a></p>
                  </div>
                </li>
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body"> <span><a href="mailto://waseemint.pk@gmail.com">waseemint.pk@gmail.com</a></span> </div>
                </li>
              </ul>
            </div>
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.col -->
  
          <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="module-heading">
              <h4 class="module-title">Pages</h4>
            </div>
            <!-- /.module-heading -->
  
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a href="{% url 'dashboard' %}" title="Contact us">My Account</a></li>
                <li><a href="{% url 'my_orders' %}" title="About us">Order History</a></li>
                <li><a href="{% url 'edit_profile' %}" title="faq">Edit Profile</a></li>
                <li><a href="{% url 'change_password' %}" title="Popular Searches">Change Password</a></li>
              </ul>
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.col -->
  
          <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="module-heading">
              <h4 class="module-title">Corporation</h4>
            </div>
            <!-- /.module-heading -->
  
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a title="Your Account" href="/">Home</a></li>
                <li><a title="Information" href="{% url 'store' %}">Shop All</a></li>
                <li><a title="Addresses" href="#">Contact US</a></li>
                <li><a title="Addresses" href="{% url 'customkit' %}">Create Your Own</a></li>
              </ul>
            </div>
            <!-- /.module-body -->
          </div>
          <!-- /.col -->
          <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="module-heading">
              <h4 class="module-title">Customer Care</h4>
            </div>
            <!-- /.module-heading -->
  
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a title="Your Account" href="{% url 'payment_footer' %}">Payment Methods</a></li>
                <li><a title="Information" href="{% url 'return_exchange' %}">Return & Exchanges</a></li>
                <li><a title="Addresses" href="{% url 'shipping' %}">Shipping & Deliveries</a></li>
               </ul>
            </div>
            <!-- /.module-body -->
          </div>
          
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="container">
        <div class="col-xs-12 col-sm-4 no-padding social">
          <ul class="link">
            <li class="fb pull-left"><a target="_blank" rel="nofollow" href="https://www.facebook.com/waseemintl/" title="Facebook"></a></li>
            <!-- <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="mailto://waseemint.pk@gmail.com" title="GooglePlus"></a></li> -->
            <li class="rss pull-left"><a target="_blank" rel="nofollow" href="https://www.threads.net/@waseemint" title="RSS"></a></li>
            <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="https://www.pinterest.com/waseemint/" title="PInterest"></a></li>
            <!-- <li class="instagram pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li> -->
            <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UCdEyJWkSjdtFcLKbVLLYmOQ" title="Youtube"></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 no-padding copyright"><a target="_blank" href="/">Waseem International</a> </div>
        <div class="col-xs-12 col-sm-4 no-padding">
          <div class="clearfix payment-methods">
            <ul>
              <li><img src="{% static 'assets/images/payments/2.png' %}" alt=""></li>
              <li><img src="{% static 'assets/images/payments/1.png' %}" alt=""></li>
              <li><img src="{% static 'assets/images/payments/3.png' %}" alt=""></li>
              <li><img src="{% static 'assets/images/payments/4.png' %}" alt=""></li>
              <li><img src="{% static 'assets/images/payments/5.png' %}" alt=""></li>
            </ul>
          </div>
          <!-- /.payment-methods -->
        </div>
      </div>
    </div>
  </footer>