{% extends "baseTwo.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
<div class="container">
    <h1 class="text-center">
        Return and Exchanges
    </h1>
</div>

<div class="container">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Return & Exchanges Policy</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">Customer satisfaction is our goal. If you are not satisfied with your purchase, you may apply for return/exchange within 3 days of delivery as per following Terms & Conditions:</div>
            <div class="panel-body">
                
        
            <ul style="list-style-type: disc;">
                <li>
                    If a wrong, faulty, damaged product is delivered, Notify us within 24 hours of shipment receiving along with photographic evidence of product and packaging.                
                </li>
                <li>
                    The product that is being returned by the customer must be unused, complete, tagged and intact. Product and product packing should be unblemished and in its original condition.
                </li>
                <li>
                    In Following Cases returns will not be acceptable:
                    <ol>
                        <li>Return request is made outside the specified time frame.</li>
                        <li>
                            Product is damaged because of use, product is tempered or any thing missing from the package or packing is not in original condition.
                        </li>
                        <li>
                            Item sold on sale/discount cannot be returned.
                        </li>
                        <li>
                            For bulky items, if any part damage during transportation we will only replace that part whole product will not be exchange.
                        </li>
                        <li>
                            Products which are required assembling ( treadmill, elliptical, Bikes, Gym, Benches, TT Tables etc)
                        </li>
                        <li>
                            Products which are customized (i.e. Racket with stringing) on customer request.
                        </li>
                        <li>
                            Products which are not regular products and arranged on customer special request.
                        </li>
                        <li>
                            Products that are not purchased from waseemint.com
                        </li>
                    </ol>
                </li>
                <li>
                    Courier cost of return/exchange item will be borne by the customer. In case the item is received damaged or the size you ordered is not the size you received, Apollo will cover the return shipment charges by picking the goods up from your given address through courier
                </li>
            </ul>

            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Procedure for Return & Exchanges</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <ul style="list-style-type: disc;">
                <li>
                    For return or exchange of your purchased item please email at waseemint.pk@gmail.com along with Your order number, photographic evidence of product and packaging. We will get back to you within next 24-48 hours on working days (Monday to Saturday).                </li>
                <li>
                    Our customer support team will check if your return/exchange request is according to company “Return & Exchange Policy” and will send you return/exchange form in which all the details instruction to return/exchange products will be included.                </li>
                    
                <li>
                    Customer will fill up the return/exchange form and put it into the package & dispatch us the product in the same packing as received and notify us the courier tracking no.
                </li>
                <li>
                    Upon receiving of product our quality check team will inspect the product condition if they find product according to “Return & Exchange Policy”, we will process customer return/exchange request.
                </li>
                <li>
                    If customer required sending more amount for exchanging products, shipment will be dispatched after receiving the difference amount.
                </li>
                </ul>

            
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Refund Policy</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"><b> Refund for approved Returns:</b></div>
          <div class="panel-body">
            <ul style="list-style-type: disc;">
                <li>
                    Customer will be eligible for refund after the product has been returned and accepted for return as per “Return & Exchange Policy”.                </li>
                <li>
                    We will refund amount within 10 working days from the time we receive the returned goods.                </li>
                    
                <li>
                    Refund amount will be issued after deducting Bank Charges and shipping charges.
                </li>
                <li>
                    If order was shipped on “Free Shipping” basis shipping charges will be deducted from refund amount.
                </li>
                </ul>

            <p>
    <b>

        Refund for Cancelled Orders (Before Dispatch):
        
    </b>
            </p>
            <ul>
                <li>We will refund amount within 10 working days from the date of cancellation of your order.</li>
                <li>
                    Refund amount will be issued after deducting Bank Charges.
                </li>
            </ul>

          </div>
        </div>
      </div>
      
    </div> 
  </div>

{% endblock content %}