{% extends "baseTwo.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
<div class="container">
    <h1 class="text-center">

        Shipping & Deliveries

    </h1>
</div>

<div class="container">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Shipping Charges</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <ol>
                    <li>Shipping charges are not included in our products prices.</li>
                    <li>Shipping charges charged on the basics of product weight or volumetric weight whichever is higher.</li>
                    <li>Shipping charges depends on your payment method. If pre-payment method then standard shipping charges will apply or If you select COD shipping then charges are higher because courier company charge higher shipping prices.</li>
                    <li>You can calculate shipping charges by adding product in cart and select your destination city on cart page, Our website will automatically calculate shipping charges for you.</li>
                    <li>If your city / Town / Village do not have courier service office then In some cases depending on your destination you may need to pickup from nearest city courier office or you have to pay extra delivery charges in order to ship at your doorstep.</li>
                </ol>
          

            </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Shipping & Delivery Time</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
                <ol>
                <li>We usually deliver orders in 3 to 7 working days depends on your products and shipping destination.</li>
                <li>You will receive auto email/SMS notification when your order will be Shipped. It means that your order has been packed and Shipped.</li>
                </ol>
            </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Shipment Tracking</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
                <ol>
                    <li>You can anytime “Login” to your account on our website to check status of your order.</li>
                    <li>
                        You can get your order courier tracking number by login in your account and track your order on courier company website.
                    </li>
                    <li>
                        You will also receive an Email having courier tracking number when your order has been shipped.
                    </li>
                    <li>
                        It is always advised first try to track your parcel at courier website. If you find any delays contact with courier company customer support, If you still face any problem you can always contact Waseem Int customer support. They will help you to track your parcel.
                    </li>
                </ol>
            </div>
        </div>
      </div>
    


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Order Receiving</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse in">
            <div class="panel-body">
                <ol>
                <li>All order are perfectly packed and sealed under CCTV Monitoring in our warehouse before shipping.</li>
                <li>Upon receiving order, please check the external condition of the package/box to see if there are signs of damage, or if the package has been opened during transit.</li>
                <li>
                    We request not to sign and accept package if you are concerned about the condition of the shipment.
                </li>
                <li>
                    If you find any product in the box is broken, tampered or missing when you open the package, Please save all the packages and make pictures.
                </li>
                <li>
                    Please contact Apollo customer support via waseemint.pk@gmail.com within 24 hours of receiving the shipment along with pictures.
                </li>
                </ol>
            </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Free Shipping</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse in">
            <div class="panel-body">
                <ol>
                <li>If you choose pre-payment methods and order amount Rs. 20,000 then free shipping will apply throughout Pakistan.</li>
                <li>If your city / Town / Village do not have courier service office then In some cases depending on your destination you may need to pickup from nearest city courier office or you have to pay extra delivery charges in order to ship at your doorstep.</li>
                </ol>
            </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Change of Delivery Address</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse in">
            <div class="panel-body">
                <ol>
               <li>Once the order has been shipped, you cannot change the delivery address.</li>
                <li>If you want to stop order due to any reason kindly write an email to us at waseemint.pk@gmail.com or contact customer support.</li>
                </ol>
            </div>
        </div>
      </div>

    </div> 
  </div>

{% endblock content %}